body {
    background-color: #f4f4f9;
    color: #000;
}

body.dark {
    background-color: #2c2c2c;
    color: #f4f4f9;
}

.navbar.light {
    background-color: #f4f4f9;
    color: #000;
}

.navbar.dark {
    background-color: #2c2c2c;
    color: #f4f4f9;
}

.container {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
body.dark .container {
    background: #3c3c3c;
}

.summary {
    margin-top: 20px;
}

.summary p {
    font-size: 1.2em;
}

.form-check-label {
    color: inherit;
}
